.App{
    display: flex;
    flex-direction: column;
    width: 100%;
}
*{
  font-family: cursive;
}
::-webkit-scrollbar {
  display: none;
}
.header{
    margin-top: 5px;
    padding-right: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: cursive;
}
.beer-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform .3s;
  box-shadow: 5px 5px 8px #888888;
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.beer-card:hover {
  transform: scale(1.05); 
  box-shadow: 8px 8px 8px #888888;/* Zoom in effect on hover (adjust scale value as needed) */
  /* Add any other transformations you want, like box shadow or rotation */
}
.beer-card img {
  max-width: 40%;
  border-radius: 8px;
  margin-bottom: 10px;
}
img{
  max-width: 40%;
  border-radius: 8px; 
}
.beer-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.beer-card p {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
  .beer-card {
    max-width: 100%;
    margin: 20px auto;
  }
}
p {
    font-weight: bold;
}
ul {
   font-weight: bold;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}